.App {
  background-color: #f1f1f1;
  color: #757575;
  min-height: 100vh;
}

.App-header {
  background-color: #adb5bd;
  color: #fff;
}

.container {
  max-width: 912px;
  margin: 0 auto;
}

.table {
  display: table;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}

.table-header-group {
  display: table-header-group;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
  background-color: #fff;
}

.table-cell {
  display: table-cell;
}

