body, html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.App {
  background-color: #f1f1f1;
  color: #757575;
  min-height: 100vh;
  max-width: 976px;
  margin: 0 auto;
}

.container {
  max-width: 912px;
  margin: 0 auto;
}

/* header */
.App-header {
  background-color: #adb5bd;
  color: #fff;
  overflow: hidden;
}

.header-col.col--start {
  margin: 32px 0 32px 0;
  display: flex;
  align-items: center;
  padding: 0;
}

#logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  margin-right: 16px;
}

#title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.01em;
}

/* Headings */
h1 {
  margin: 2.5em 0 1.5em;
  font-weight: 500;
  font-size: 26px;
}

/* forms */
input[type="text"] {
  background: #fafafa;
  border: 1px solid #eee;
  line-height: 38px;
  padding: 0 15px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.form-errors {
  font-size: 12px;
  margin: 8px 8px 0;
  color: red;
}

/* buttons */
.btn {
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor:pointer;
  border: none;
}

.submit-btn {
  background: #ededed;
  width: 120px;
}

.save-btn.btn {
  background: #07f;
  color: #fff;
  width: 84px;
}

.cancel-btn.btn {
  color: #07f;
  width: 84px;
  margin-right:4%;
}

/* table */
.table {
  display: table;
  table-layout: fixed;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.04);
}

.table-header-group {
  display: table-header-group;
}

.table-cell--header-cell {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
}

.table-cell--data-cell {
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
  background-color: #fff;
}

.table-cell {
  display: table-cell;
  width: 2%; 
}

.form .table-cell:first-of-type,
.data-table .table-cell:first-of-type {
  padding-left: 16px;
}

.data-table .table-row {
  border-bottom: 1px solid #eee;
}

.table-header-group .table-cell {
  line-height: 47px;
}

.table-cell--data-cell {
  line-height: 71px;
  cursor: pointer;
}

.data-table .form .table-cell.table-cell-end {
  padding-right: 16px;
}

.form .table-cell {
  padding: 16px 16px 16px 0;
  table-layout: fixed;
}

.form .table-cell.table-cell-end,
.data-table .table-cell.table-cell-end {
  padding-right: 21px;
  min-width: 20%;
  text-align: right;
}

.data-table .form .table-cell.table-cell-end {
  width: 1px;
  white-space: nowrap;
}

