.App {
  background-color: #f1f1f1;
  color: #757575;
  min-height: 100vh;
}

.App-header {
  background-color: #adb5bd;
  color: #fff;
}

.container {
  max-width: 912px;
  margin: 0 auto;
}

table {
  background-color: transparent;
  width: 100%;
  border-collapse: collapse;
}

table tr {
  background-color: #fff;
}

table thead:after {
  content: "";
  display: table-row;
  height: 10px;
}
